/* .ParksGlobal{
    background-color: rgb(200, 154, 243);
} */

.ParksP{
    padding-top: 5rem;
    padding-bottom: 1rem;
    color:black;
    text-align: center;
    font-family: 'Balsamiq Sans';
    font-weight: 600;
}